.git
.github
.cursor
.devcontainer
.agents

**/node_modules
frontend/.nuxt
frontend/.output
api-contract/node_modules

backend/**/bin
backend/**/obj
**/*.user

e2e/node_modules
.playwright-cli

*.log
.DS_Store
